In [4]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [5]:
obj = pd.Series([4,7,-9,3])
obj

In [6]:
obj.values

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([45,6,8,9,12,34,6],index=['a','b','c','g','h','k','n'])
obj2

In [9]:
obj2.index

Index(['a', 'b', 'c', 'g', 'h', 'k', 'n'], dtype='object')

In [10]:
obj2['k']

34

In [11]:
obj2['a'] = 222
obj2

In [12]:
obj2[obj2>10]

In [13]:
sdata = {'Warszawa':45120, 'Kraków':38970, 'Lublin':13450, 'Gdańsk':27890}
obj3 = pd.Series(sdata)
obj3

In [14]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [15]:
pd.isnull(obj4)

In [16]:
obj3+obj4

In [20]:
obj4.name = 'liczba wniosków'
obj4.index.name = 'miasta'
obj4

In [21]:
#obiekt DataFrame

data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasto,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [22]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','pop','wsp'],index=['jeden','dwa','trzy','cztery','pieć','sześć'])
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pieć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [23]:
frame2['miasto']

In [24]:
frame2.rok

In [25]:
frame2['wsp']=19.9
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,19.9
dwa,2018,Warszawa,2.75,19.9
trzy,2019,Warszawa,3.05,19.9
cztery,2018,Kraków,0.85,19.9
pieć,2019,Kraków,0.90,19.9
sześć,2020,Kraków,1.01,19.9

In [26]:
frame2['wsp']=np.arange(6.)
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pieć,2019,Kraków,0.90,4.0
sześć,2020,Kraków,1.01,5.0

In [30]:
#przykład -> ramka z wykorzystaniem wygenerowanych dat

daty = pd.date_range("20230129",periods=6)
daty

DatetimeIndex(['2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03'],
              dtype='datetime64[ns]', freq='D')

In [31]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty, columns=list("ABCD"))
fr

,A,B,C,D
2023-01-29,0.490048,0.008405,-0.042515,-0.441533
2023-01-30,0.095713,2.232638,0.107484,-0.543559
2023-01-31,0.905216,1.431021,-1.070136,-0.928323
2023-02-01,-0.491511,0.954953,-2.304327,-0.747713
2023-02-02,-0.921054,0.872855,0.026347,0.508384
2023-02-03,-0.147661,-1.534451,-0.497368,-0.537057

In [33]:
fr.head(3)

,A,B,C,D
2023-01-29,0.490048,0.008405,-0.042515,-0.441533
2023-01-30,0.095713,2.232638,0.107484,-0.543559
2023-01-31,0.905216,1.431021,-1.070136,-0.928323

In [34]:
fr.tail(2)

,A,B,C,D
2023-02-02,-0.921054,0.872855,0.026347,0.508384
2023-02-03,-0.147661,-1.534451,-0.497368,-0.537057

In [35]:
fr.to_numpy()

In [36]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,-0.011542,0.660903,-0.630086,-0.448300
std,0.660250,1.299243,0.931074,0.500462
min,-0.921054,-1.534451,-2.304327,-0.928323
25%,-0.405549,0.224517,-0.926944,-0.696674
50%,-0.025974,0.913904,-0.269942,-0.540308
75%,0.391464,1.312004,0.009131,-0.465414
max,0.905216,2.232638,0.107484,0.508384

In [37]:
fr.T

,2023-01-29,2023-01-30,2023-01-31,2023-02-01,2023-02-02,2023-02-03
A,0.490048,0.095713,0.905216,-0.491511,-0.921054,-0.147661
B,0.008405,2.232638,1.431021,0.954953,0.872855,-1.534451
C,-0.042515,0.107484,-1.070136,-2.304327,0.026347,-0.497368
D,-0.441533,-0.543559,-0.928323,-0.747713,0.508384,-0.537057

In [40]:
fr.sort_index(axis=1, ascending=False)

,D,C,B,A
2023-01-29,-0.441533,-0.042515,0.008405,0.490048
2023-01-30,-0.543559,0.107484,2.232638,0.095713
2023-01-31,-0.928323,-1.070136,1.431021,0.905216
2023-02-01,-0.747713,-2.304327,0.954953,-0.491511
2023-02-02,0.508384,0.026347,0.872855,-0.921054
2023-02-03,-0.537057,-0.497368,-1.534451,-0.147661

In [41]:
fr.sort_values(by="B")

,A,B,C,D
2023-02-03,-0.147661,-1.534451,-0.497368,-0.537057
2023-01-29,0.490048,0.008405,-0.042515,-0.441533
2023-02-02,-0.921054,0.872855,0.026347,0.508384
2023-02-01,-0.491511,0.954953,-2.304327,-0.747713
2023-01-31,0.905216,1.431021,-1.070136,-0.928323
2023-01-30,0.095713,2.232638,0.107484,-0.543559